<p id="notice"><%= notice %></p>


<body onload="load()" onkeypress="return_button(event)">
<div id="wrapper">

<div id="wordbank" class="UI">
<!-- <button onclick="armageddon()">test</button> -->
</div>

<div id="podium" class="UI"></div>
<div id="score" class="UI"></div>
<div id="instructions" class="UI">

<b>Instructions:</b><br>
1.)Select a letter on the board<br>
2.)Select adjacent letters to your selection to form a word<br>
3.)Keep selecting adjacent letters (you may select any number of letters that are connected on the board)<br>
4.)When you think you've formed a word, click it on top, or press 'enter' key.<br>
5.)If you get stuck, hit the 'backspace/delete' key to cancel current word.<br>
<br>
--Hitting the juMBle button on top strts a new game<br>
<b>RUles:</b><br>

<li>Stamps -  <br>
<img src="../../app/assets/images/jumbleme.png" width="50px"><br>
  a "JuMbLe mE!" stamp jumbles the board and keeps your score.<br>
<img src="images/jumgeddon.png" width="50px"><br>
   a 'JUMBLEGGEDON!' stamp will remove the letters in 'JUMBLE' from the board.</li>
<li>Any vowel on the board may be switched out for a new letter by selecting it and pressing 'enter'</li>
</div>
<!-- <button onclick="shock_wave()">shake me!</button> -->
<!-- <div id="word" class="UI">Jumble Jungle</div> -->
<div id="center">
<center><button id="word" onclick="submit()">WoRd JuMBLe</button></center>

<center><button onclick="scamble()" class="shufflebutton">JuMbLe</button></center>
<!-- <button onclick="reset_colors()" class="shufflebutton2">Cancel word(BackSpace)</button><br> -->
<div id="word_board">
  <div class="letter" id="11"></div>
  <div class="letter" id="12"></div>
  <div class="letter" id="13"></div>
  <div class="letter" id="14"></div>
  <div class="letter" id="15"></div>
  <div class="letter" id="16"></div>
  <div class="letter" id="17"></div>
  <div class="letter" id="18"></div>
  <div class="letter" id="21"></div>
  <div class="letter" id="22"></div>
  <div class="letter" id="23"></div>
  <div class="letter" id="24"></div>
  <div class="letter" id="25"></div>
  <div class="letter" id="26"></div>
  <div class="letter" id="27"></div>
  <div class="letter" id="28"></div>
  <div class="letter" id="31"></div>
  <div class="letter" id="32"></div>
  <div class="letter" id="33"></div>
  <div class="letter" id="34"></div>
  <div class="letter" id="35"></div>
  <div class="letter" id="36"></div>
  <div class="letter" id="37"></div>
  <div class="letter" id="38"></div>
  <div class="letter" id="41"></div>
  <div class="letter" id="42"></div>
  <div class="letter" id="43"></div>
  <div class="letter" id="44"></div>
  <div class="letter" id="45"></div>
  <div class="letter" id="46"></div>
  <div class="letter" id="47"></div>
  <div class="letter" id="48"></div>
  <div class="letter" id="51"></div>
  <div class="letter" id="52"></div>
  <div class="letter" id="53"></div>
  <div class="letter" id="54"></div>
  <div class="letter" id="55"></div>
  <div class="letter" id="56"></div>
  <div class="letter" id="57"></div>
  <div class="letter" id="58"></div>
  <div class="letter" id="61"></div>
  <div class="letter" id="62"></div>
  <div class="letter" id="63"></div>
  <div class="letter" id="64"></div>
  <div class="letter" id="65"></div>
  <div class="letter" id="66"></div>
  <div class="letter" id="67"></div>
  <div class="letter" id="68"></div>
  <div class="letter" id="71"></div>
  <div class="letter" id="72"></div>
  <div class="letter" id="73"></div>
  <div class="letter" id="74"></div>
  <div class="letter" id="75"></div>
  <div class="letter" id="76"></div>
  <div class="letter" id="77"></div>
  <div class="letter" id="78"></div>
  <div class="letter" id="81"></div>
  <div class="letter" id="82"></div>
  <div class="letter" id="83"></div>
  <div class="letter" id="84"></div>
  <div class="letter" id="85"></div>
  <div class="letter" id="86"></div>
  <div class="letter" id="87"></div>
  <div class="letter" id="88"></div>
</div>

<!-- <button onclick="scamble()" class="shufflebutton">JuMbLe</button> -->

<!-- <button onclick="reset_colors()" class="shufflebutton" style="bottom:0%">Cancel current word</button> -->

</div>

</div>
</body>




  </html>